<div class="cart-item">
	<img [src]="product?.thumbnail" alt="" aria-describedby="productTitle" class="cart-item__thumbnail" />
	<div>
		<a [routerLink]="['/', 'product', product?.id]" class="cart-item__title" id="productTitle">{{ product?.title }}</a>
		<p class="cart-item__description" id="productTitle">{{ product?.description }}</p>
	</div>
	<div class="cart-item__actions">
		<app-counter
			[startValue]="cartItem === undefined || cartItem === null ? 1 : cartItem.amount"
			(valueChange)="onAmountChange($event)"
		></app-counter>
		<button mat-mini-fab (click)="onDeleteItem()" aria-label="Remove item from cart">
			<mat-icon>delete</mat-icon>
		</button>
	</div>
</div>
