.cart-item {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	gap: 1rem;

	@media screen and (min-width: 640px) {
		flex-direction: row;
	}

	&__thumbnail {
		width: 8rem;
		height: 5rem;
		object-fit: cover;
		border-radius: 4px;
		overflow: hidden;
	}

	&__title{
		font-size: 1.5rem;
		text-decoration: none;
		color: inherit;
	}

	&__title,
	&__description {
		margin-bottom: 0;
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 1rem;

		@media screen and (min-width: 640px) {
			margin-left: auto;
		}
	}
}
