<form class="filters" [formGroup]="filtersForm" (ngSubmit)="onSubmit()">
	<h2>Search Filters</h2>
	<mat-form-field appearance="fill">
		<mat-label>Category</mat-label>
		<mat-select placeholder="Select category" [formControl]="category">
			<mat-option [value]="null">None</mat-option>
			<mat-option *ngFor="let category of categories" [value]="category">
				{{ category }}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Minimum Price</mat-label>
		<input matInput placeholder="Minimum Price" value="" formControlName="minPrice" type="number" />
		<mat-error *ngIf="minPrice?.touched && minPrice?.hasError('min')">Price must be positive</mat-error>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Maximum Price</mat-label>
		<input matInput placeholder="Maximum Price" value="" formControlName="maxPrice" type="number" />
		<mat-error *ngIf="maxPrice?.touched && maxPrice?.hasError('min')">Price must be positive</mat-error>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Product Name</mat-label>
		<input matInput placeholder="Product Name" value="" formControlName="productName" />
	</mat-form-field>
	<div class="filters__actions">
		<button mat-raised-button color="accent" class="button-filter">Filter Items</button>
		<button mat-raised-button class="button-filter">Reset Filters</button>
	</div>
	<p
		class="filters__form-error"
		*ngIf="minPrice?.touched && maxPrice?.touched && filtersForm.hasError('invalidPrices')"
	>
		Max price must be greater than min price
	</p>
</form>
