<mat-card class="card">
	<img class="card__image" mat-card-image [src]="product.thumbnail" alt="" aria-hidden="true" />
	<mat-card-header>
		<mat-card-title class="card__title">{{ product.title }}</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p class="card__price">${{ product | productPrice }}</p>
		<p class="card__description">{{ product.description }}</p>
	</mat-card-content>
	<mat-card-actions class="card__actions">
		<button mat-raised-button color="accent">Add to Cart</button>
		<button mat-raised-button [routerLink]="['product', product.id]" color="primary">View Details</button>
	</mat-card-actions>
</mat-card>
