.card {
	&__image {
		height: 150px;
		object-fit: cover;
		object-position: top;
	}

	&__title {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.25;
	}

	&__description {
		color: var(--color-text-3);
	}

	&__price {
		display: flex;
		gap: .25rem;
		margin-bottom: 1rem;
		font-size: 1.75rem;

		&__original {
			color: var(--color-text-3);
			font-size: 1rem;
			text-decoration: line-through;
		}

		&__now {
			font-size: 1rem;
		}
	}

	&__actions {
		display: flex;
		gap: 1rem;
	}
}
