<nav>
	<mat-toolbar color="primary" class="navbar">
		<div class="links">
			<li class="links__item"><a mat-flat-button class="links__link" routerLink="">Products</a></li>
		</div>
		<span class="logo">Electronics Shop</span>
		<ul class="links">
			<li class="links__item">
				<a class="links__link links__link--cart" routerLink="cart" aria-label="cart">
					<ng-container *ngIf="itemsInCart$ | async as itemsInCart">
						<mat-icon
							[matBadge]="itemsInCart.length"
							[matBadgeHidden]="itemsInCart === null || itemsInCart.length === 0"
							matBadgePosition="above after"
							matBadgeColor="accent"
						>
							shopping_cart
						</mat-icon>
					</ng-container>
				</a>
			</li>
		</ul>
	</mat-toolbar>
</nav>
