.carousel {
	position: relative;
	height: 100%;

	.images {
		position: absolute;
		inset: 0;

		&__image {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			inset: 0;
		}

		&__current {
			z-index: 1;
		}
		&__next {
		}
	}

	&__button {
		display: flex;
		position: absolute;
		top: 50%;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		border: none;
		border-radius: 0.5rem;
		background: transparent;
		cursor: pointer;
		translate: 0% -50%;
		z-index: 5;

		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
		}

		.icon {
			text-align: center;
		}
	}

	&__button--previous {
		left: 1rem;
	}

	&__button--next {
		right: 1rem;
	}

	&__links {
		position: absolute;
		display: flex;
		right: 0;
		bottom: 1rem;
		left: 0;
		justify-content: center;
		gap: 0.5rem;
		z-index: 5;
	}

	&__link {
		width: 10px;
		height: 10px;
		border-radius: 4px;
		border: none;
		background-color: rgba(0, 0, 0, 0.2);
		padding: 0;
		cursor: pointer;

		&.active{
			background-color: rgba(0, 0, 0, 0.4);
		}

		&:hover{
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
}
