<div class="carousel">
	<div class="carousel__image-container">
		<img class="carousel__image" [src]="currentImage" />
		<img class="carousel__image" [src]="previousImage" />
		<img class="carousel__image" [src]="nextImage" />
		<div class="carousel__navigation">
			<button
				(click)="onSlidePrevious()"
				class="navigation-button navigation-button--previous"
				aria-label="Previous Image"
			>
				<mat-icon class="icon">arrow_back_ios_new</mat-icon>
			</button>
			<button class="navigation-button navigation-button--next" (click)="onSlideNext()" aria-label="Next Image">
				<mat-icon class="icon">arrow_forward_ios_new</mat-icon>
			</button>
		</div>
	</div>
	<div class="carousel__control">
		<img
			*ngFor="let image of images; let i = index"
			[src]="image"
			(click)="selectImage(i)"
			(mouseover)="onMouseOver(i)"
			[class.active]="i === currentIndex"
			class="carousel__control__image"
			alt=""
			aria-hidden="true"
		/>
	</div>
</div>
